<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Examen_UII</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/Examen_UII.styles.css" asp-append-version="true" /> *@
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Usuarios" asp-action="Index">Examen_UII</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>


                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link active" asp-action="Index" asp-controller="Usuarios">Inicio</a>
                            </li>

                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        Dispositivos
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" asp-action="Consultar"
                                                asp-controller="Dispositivos">Tabla</a></li>

                                        <li><a class="dropdown-item" asp-action="Mapa" asp-controller="Dispositivos">Mapa</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        Graficas
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" asp-action="GraficaDatos"
                                                asp-controller="Dispositivos">Datos</a></li>

                                        <li><a class="dropdown-item" asp-action="GraficaEstados"
                                                asp-controller="Dispositivos">Estados</a></li>

                                        <li><a class="dropdown-item" asp-action="GraficaConsumo"
                                                asp-controller="RegistrosConsumo">Consumo</a></li>
                                    </ul>
                                </li>

                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link active" asp-action="Mapa" asp-controller="Dispositivos">Cambiar
                                        Estados</a>
                                </li>
                            }
                            <li class="nav-item">
                                <a class="nav-link active" asp-controller="RegistrosConsumo"
                                    asp-action="Consultar">Registros de consumo</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link active" asp-action="CerrarSesion" asp-controller="Usuarios">Cerrar
                                    Sesión</a>
                            </li>
                        }
                        else
                        {

                            <li class="nav-item">
                                <a class="nav-link active" asp-action="Login" asp-controller="Usuarios">Iniciar Sesión</a>
                            </li>
                        }

                    </ul>
                </div>

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Examen_UII - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    @if (User.Identity.IsAuthenticated)
    {
        @if (User.IsInRole("Admin"))
        {
            <script src="~/js/SignalR.js"></script>

            <script>
                var connection = new signalR.HubConnectionBuilder()
                    .withUrl("/notificacionHub")
                    .build();

                connection.start().then(function () {
                    console.log("Conexión de SignalR establecida.");
                }).catch(function (err) {
                    console.error("Error de conexión SignalR: " + err);
                });

                connection.on("DeviceCreate", function (dispositivoId) {
                    MostrarNotificaciones(`El dispositivo ${dispositivoId} se ha creado.`);
                });

                connection.on("DeviceDelete", function (dispositivoId) {
                    MostrarNotificaciones(`El dispositivo ${dispositivoId} se ha eliminado.`);
                });

                connection.on("DeviceOpened", function (dispositivoId) {
                    MostrarNotificaciones(`El dispositivo ${dispositivoId} se ha abierto.`);
                });

                connection.on("DeviceClosed", function (dispositivoId) {
                    MostrarNotificaciones(`El dispositivo ${dispositivoId} se ha cerrado.`);
                });

                connection.on("NotificacionCerrarUltimo", function (mensaje) {
                    MostrarNotificaciones(mensaje);
                });

                function MostrarNotificaciones(msj) {
                    if (!(Notification) in window) {
                        alert("El navegador no soporta notificaciones");
                    }
                    else if (Notification.permission === "granted") {
                        const noti = new Notification(msj);

                    }
                    else if (Notification.permission !== "denied") {
                        Notification.requestPermission(function (p) {
                            if (Notification.permission === "granted") {
                                const ns = new Notification("Permiso autorizado");
                            }
                        });
                    }
                }
            </script>
        }
    }
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
