@model Examen_UII.Models.Dispositivos
@{
    ViewData["Title"] = "ErrorD";
}

<div>
    <center>
        <img src="https://www.tec.ac.cr/sites/default/files/media/accesodenegado.png" alt="Error"
            class="img-fluid" style="width: 300px;"></img>
        <h3 class="text-danger text-center">Lo sentimos, No puedes cerrar el último dispositivo abierto.</h3>
    </center>
</div>
<script src="~/js/SignalR.js"></script>
<script>
    var connection = new signalR.HubConnectionBuilder()
        .withUrl("/notificacionHub")
        .build();

    connection.start().then(function () {
        console.log("Conexión de SignalR establecida.");
    }).catch(function (err) {
        console.error("Error de conexión SignalR: " + err);
    });

    connection.on("NotificacionCerrarUltimo", function (mensaje) {
        MostrarNotificaciones(mensaje);
    });

    function MostrarNotificaciones(msj) {
            if (!(Notification) in window) {
                alert("El navegador no soporta notificaciones");
            }
            else if (Notification.permission === "granted") {
                const noti = new Notification(msj);

            }
            else if (Notification.permission !== "denied") {
                Notification.requestPermission(function (p) {
                    if (Notification.permission === "granted") {
                        const ns = new Notification("Permiso autorizado");
                    }
                });
            }
        }
</script>