@model Examen_UII.Models.Usuarios

@{
    ViewData["Title"] = "NoPermitido";
}

<h1>@ViewData["Title"]</h1>

<div>
    <center>
    <img src="https://www.campusvirtualsp.org/sites/default/files/img-denied.png" alt="No permitido" class="img-fluid"
        style="width: 300px;"></img>
    <h3 class="text-danger text-center">Usted no tiene los permisos para acceder a este recurso</h3>
    </center>
</div>